/*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700);
/*GLOBAL*/
body{
    font-family: Roboto,sans-serif;
    background-color: #eee;
}
a {
    color: #a8976f;
    text-decoration: none;
}
a:focus, a:hover {
    color: #87764e;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto,sans-serif;
}
.clear{clear:both}
/*BOTSTRAP*/
.btn-primary {
    background-color: #87764e;
    border-color: #87764e;
    color: #fff;
}
/*HEADER*/
.skin-purple .main-header{
    background-color: #33103f;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}
.skin-purple a.logo img {
    height: 46px;
    width: auto;
    margin: 3px auto 0;
}
.skin-purple a.logo .logo-mini img{
    height: auto;
    margin: 14px 0 0;
    width: 100%;
}
.skin-purple .main-header .logo, .skin-purple .main-header .navbar{background-color: #33103f;}
.skin-purple .main-header .logo:hover {
    background-color:inherit;
}
/*SIDEBAR*/
.skin-purple .wrapper, .skin-purple .main-sidebar, .skin-purple .left-side{background-color: #431f4d;}
/*FOOTER*/
.skin-purple .main-footer{
    background-color: #431f4d;
    border-top: 1px solid #431f4d;
    padding: 5px 15px;
    color: #ccc;}


/*LOGIN*/
.login-page{background-color: #eee;}
.login-page .login-box{
    background-color: #431f4d;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    padding: 30px;
}
.login-page .login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 140px;
}
.login-page .login-box-body{
    background-color: inherit;
}
.login-page .login-box-msg{
    color:#87764E;
    font-weight: 300;
}
.login-page .login-footer {
    font-size: 11px;
    text-align: center;
    width: 100%;
    color: #999;
}