/*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700);
/*GLOBAL*/
body {
    font-family: Roboto, sans-serif;
    background-color: #FFF;
}

a {
    color: #a8976f;
    text-decoration: none;
}

a:focus, a:hover {
    color: #87764e;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto, sans-serif;
}

.clear {
    clear: both
}

.logo.in-header-line{
    display: none;
}

/*BOOTSTRAP*/
.btn-primary {
    background-color: #87764e;
    border-color: #87764e;
    color: #fff;
}

/*HEADER*/
.skin-purple .main-header {
    background-color: #33103f;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}

.skin-purple a.logo img {
    height: 40px;
    width: auto;
    margin: 5px auto 0;
}

.skin-purple a.logo .logo-mini img {
    height: auto;
    margin: 14px 0 0;
    width: 100%;
}

.skin-purple .main-header .logo, .skin-purple .main-header .navbar {
    background-color: #33103f;
}

.skin-purple .main-header .logo:hover {
    background-color: inherit;
}

/*SIDEBAR*/
.skin-purple .wrapper, .skin-purple .main-sidebar, .skin-purple .left-side {
    background-color: #431f4d;
}

/*FOOTER*/
.skin-purple .main-footer {
    background-color: #431f4d;
    border-top: 1px solid #431f4d;
    padding: 5px 15px;
    color: #ccc;
}

/*LOGIN*/
.login-page {
    background-color: #eee;
}

.login-page .login-box {
    background-color: #431f4d;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    padding: 30px;
}

.login-page .login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 140px;
}

.login-page .login-box-body {
    background-color: inherit;
}

.login-page .login-box-msg {
    color: #87764E;
    font-weight: 300;
}

.login-page .login-footer {
    font-size: 11px;
    text-align: center;
    width: 100%;
    color: #999;
}

/* site.css yii2 */
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .logo:not(.in-header-line){
        display: none;
    }
    .logo.in-header-line{
        display: block;
    }
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .menu-open .logo.in-header-line{
        display: block !important;
    }
    .menu-open .sidebar-toggle{
        margin-left: 0 !important;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* /site.css yii2 */

/* menu hide */
.sidenav > li > ul.treeview-menu {
    display: none;
    list-style: none;
    padding-left: 0;
}
.sidenav > li > ul.treeview-menu a {
    color: #87764e;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 15px 10px 30px;
    position: relative;
    text-decoration: none;
    display: block;
}
.sidenav > li > ul.treeview-menu a:hover {
    background-color: #7b6087;
    color: #fff;
}

.no-outer-offset-top {
    margin-top: 0 !important;
}

.sidebar-toggle {
    width: 50px;
    padding-left: 13px !important;
    background-color: rgba(255, 255, 255, .2) !important;
}

.menu-open .logo {
    display: none;
    transition: all .3s;
}

.menu-open .sidebar-toggle {
    background: rgba(255, 255, 255, 1) !important;
    margin-left: -50px;
}

.hamburger {
    position: relative;
    width: 25px;
    height: 20px;
    transition: transform 750ms ease-in-out;
}

#menu-button:active .hamburger {
    transition: transform 50ms;
    transform: scale(.95);
}

.hamburger::before, .hamburger::after, .hamburger .inner {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #ccc;
    transform-origin: 100% 50%;
    transition: all 750ms ease-in-out;
}

.hamburger::before {
    top: -1px;
}

.hamburger .inner {
    top: 9px;
    transform-origin: 50% 50%;
}

.hamburger::after {
    top: 19px;
}

.menu-open .hamburger {
    transform: rotateY(-180deg);
}

.menu-open #menu-button:active .hamburger {
    transform: scale(.95) rotateY(-180deg);
}

.menu-open .hamburger::before,
.menu-open .hamburger::after,
.menu-open .hamburger .inner {
    background: rgb(211, 163, 5) !important;
}

.sidenav .pull-right-container .fa{
    margin-top: 2px;
}

.sidenav > .heading {
    display: block;
    color: rgba(255,255,255,.4);
    padding: 16px 20px;
    text-transform: uppercase;
}

.sidenav > .sidenav-item > a {
    padding-left: 20px;
    color: #87764e;
}

.sidenav-item .fa-sys {
    width: 20px;
}

.menu-open .hamburger::before {
    transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);
}

.menu-open .hamburger .inner {
    transform: rotateY(-90deg);
    transition: transform 375ms, background-color 750ms ease-in-out;
}

.menu-open .hamburger::after {
    transform: translate3d(-4px, -1px, 0) rotateZ(45deg);
}

.sidebar-toggle:before {
    display: none;
}